*{
    margin: 0;
    padding: 0;
}

a{
    font-size: 15px;
    color: rgba(6, 245, 6, 0.658);
    font-weight: bold;
    background: whitesmoke;
}

:root{
    --Primarycolor: white;
    --secondarycolor: lightgreen;
}
.searchbar{
    margin-left: 10px;
    width: 70%;
}

.ui{
    height: 100px;
    width: 100%;
    border-radius: 17px;
    margin-right: 5px;

}

.banner{
    text-align: center;
    color: rgba(6, 245, 6, 0.658);
    font-size: 50px;
}

.results{
    margin-top: 0px;
    margin-right: 5px;
    background-color: var(--secondarycolor);
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 17px;
    margin-top: 10px;
}

.results a{
    margin-left:15px;
    border-radius: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

.fav{
    background-color: lightgrey;
    height: 700px;
    width: 100%;
    
}
.link{
    text-decoration: none; /*this targets the link that is created in the javascript. this id only exists once some one searches something*/
   
}

.ingr{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    height: 300px;
    overflow: scroll;
    background-color: var(--secondarycolor);
}

.flex{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;

}

.inputsection{
    padding: 0; /*space between trash and fav list */
   
    
}

.savebutton{
    height: 75px;
    width: 100%;
    margin-top: 13px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}


.trash{
    margin: 0;
    margin-top: 13px;
    max-height: 773px;
    max-width: 90px;
    background-color: red;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    
}

.trashopen{
    background-color: blue;
    margin: 0;
    max-height: 575px;
    max-width: 125px;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.trashtext{
    
    font-size: 50px;
    writing-mode: vertical-lr;
}


/* this class is the results class exactly for display. Its used as a class for drop zone targeting*/
.cankill{
        margin-top: 0px;
        margin-right: 5px;;
        background-color: var(--secondarycolor);
        background-size: cover;
        height: 125px;
        width: 100%;
        
    
}

.radio{
    margin-bottom: 5px;
    margin-left:15px;
    color: var(--secondarycolor);
    font-weight: bold;
}


/* Media Queries*/
@media only screen and (max-width: 1880px ) {
    
    .results{
        height: 250px;
        width: 500px;
    }

    a{
        font-size: 20px;  
    }

    .fav{
        height: 800px;
    }

    .ingr{
        font-size: 20px
    }

    .trash{
        max-height: 875px;
    }

};

@media only screen and (max-width: 1200px ) {

    .ingr{
        font-size: 25px;
    }

   
}

@media only screen and (max-width: 980px ) {

    .results{
        height: 150px;
        width: 500px;
    }

    a{
        font-size: 25px;  
    }

    .ingr{
        font-size: 15px
    }

    .fav{
        width: 500px;

    }

    .trash{
        max-height: 875px;
    }



}

@media only screen and (max-width: 875px ) {

    .results{
        margin-top: 0px;
        margin-right: 5px;;
        background-color: var(--secondarycolor);
        background-size: cover;
        height: 100px;
        width: 150px;
        border-radius: 17px;
    }

    .fav{
        background-color: lightgrey;
        height: 570px;
        width: 100%; 
    }

    .cankill{
        margin-top: 0px;
        margin-right: 5px;;
        background-color: var(--secondarycolor);
        background-size: cover;
        height: 125px;
        width: 100%;

    }

    a{
        font-size: 15px;
        font-weight: bold;
        background: whitesmoke;
    }

    
    .ingr{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
    height: 100px;
    width: 100%;
    overflow: scroll;

    }


}

@media only screen and (max-width: 520px ) {

    .trash{
        max-width: 75px;
        
    }

    .savebutton{
        margin-left: 0px;
        width: 100px

    }

    .searchbar{
        width:100%;
    }

    .start{
        width: 100%;
        height: 35px;
        margin-left: 10px;
        margin-right: 0px;
    }

    .fav{ 
        width: 100px;
        padding-right: 0px;
        margin: 0px;
    }
    
    .results{
        width: 100px;
        height: 100px;
    }

    .ingr{
        width: 75px;
    }

    .inputsection{
        max-width: 100px;
    }


}
