*{
    margin: 0;
    padding: 0;
}

:root{
    --Primarycolor: white;
    --secondarycolor: lightgreen;
}
.searchbar{
    width: 60%;
}

.ui{
    height: 100px;
    width: 100%;
    border-radius: 17px;
    margin-right: 5px;

}

.results{
    margin-top: 0px;
    margin-right: 5px;;
    background-color: var(--secondarycolor);
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 17px;
}

.a.results{
    margin-left:15px;
}

.fav{
    background-color: lightgrey;
    height: 500px;
    width: 100%;
    
}
.link{
    text-decoration: none; /*this targets the link that is created in the javascript. this id only exists once some one searches something*/
    background-color: white;
    color: black;
}

.ingr{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 15px;
    height: 300px;
    overflow: scroll;
    background-color: var(--secondarycolor);
}

.flex{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

.inputsection{
    padding: 0; /*space between trash and fav list */
   
    
}

.savebutton{
    height: 75px;
    width: 100%;
}


.trash{
    margin: 0;
    max-height: 575px;
    max-width: 125px;
    background-color: red;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trashopen{
    background-color: blue;
    margin: 0;
    max-height: 575px;
    max-width: 125px;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.trashtext{
    
    font-size: 50px;
    writing-mode: vertical-lr;
}


/* this class is the results class exactly for display. Its used as a class for drop zone targeting*/
.cankill{
        margin-top: 0px;
        margin-right: 5px;;
        background-color: var(--secondarycolor);
        background-size: cover;
        height: 125px;
        width: 100%;
        border-radius: 17px;
    
}

.radio{
    margin-bottom: 5px;
    margin-left:15px;
}