:root{
    --Primarycolor: white;
    --secondarycolor: lightgreen;

}

.searchbar{
    width: 60%;
}

.ui{
    height: 100px;
    width: 250px;
    border-radius: 17px;
    margin-right: 5px;

}

.results{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 25px;
    background-color: var(--secondarycolor);
    height: 125px;
    width: 50%;
    border-radius: 17px;
}

.fav{
    background-color: lightgrey;
    height: 500px;
    width:150px;
    
}

.link{
    text-decoration: none; /*this targets the link that is created in the javascript. this id only exists once some one searches something*/
    background-color: white;
    color: black;
}

.test{
    display: inline-block;
    margin:auto;
    font-size: 10px;
}

.ingrlist{
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;

}

.ingrlist1{
    font-size: 10px;
    font-weight: bold;
    margin-top: 25px;
    height: 100px;
   
   
}